:root {
    --cor-fundo: #FFD6A5;
    --cor-titulo: #D1495B;
    --cor-bordas-inputs: #F77F00;
    --cor-fundo-inputs: #FFE8CC;
    --cor-texto-resultado: #2D6A4F;
    --cor-botao-calcular: #ffb703;
    --cor-botao-limpar: #D62828;
}